<div class="container-fluid mt-5 about-style" id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">Contact Us</h1>
                    <p class="text-center sub-heading">we will be happy to help you</p>
      
         <form action="/contact" method="POST">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputPhone3" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input type="number" name="phone" class="form-control" id="inputPhone3" placeholder="Phone">
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-style btn-primary">Sign in</button>
    </div>
  </div>
</form>
            </div>
            </div>
            </div>
            